@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 font-sans;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 3px;
  }
}
